<nav class="navbar navbar-fixed-top vpe-background-navbar drop-shadow navbar-expand-lg bg-primary" (click)="collapseMenu()">
    <div class="container">

        <span class="navbar-brand brand">
            &nbsp;
        </span>
        
        
        <div class="flex-grow-1">
            <div class="fb-like-container">
                
            </div>
        </div>

        <button class="navbar-toggler margin-xs" id="toggle-btn" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>  

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item home">
                    <a class="nav-link" [routerLink]="'/home'" >
                        <i class="material-icons"> home </i>
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
